#dataFilter {
    width: 100%;
}

#cardNames {
    width: 40%;
    height: 25%;
    border: 1px solid #000;
    resize: none;
}

#listDisplay {
    width: 45%;
    position: relative;
}

#displayData {
    border-collapse: collapse;
}

#displayData td,
#displayData th{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 3px;
    width: fit-content;
}

th {
    width: fit-content;
    background: white;
    position: sticky;
    box-shadow: 0 2px 2px -1px black;
    top: 0; /* Don't forget this, required for the stickiness */
}

tr:hover {
    background-color: bisque;
}

td {
    white-space: nowrap;
}

.retailPrice {
    background-color: beige;
}

.buyPrice,
.decentBuyPrice{
    background-color: aquamarine;
}

.isFoil {
    background-color: cornflowerblue;
    color: white;
}

.warningText {
    color: red;
    font-weight: bold;
}

.warning,
.lowBuyPrice {
    background-color: #fdbac4;
}

.highBuyPrice {
    background-color: blueviolet;
    color: white;
}

.belowFifty {
    background-color: #e7e7e7;
}

#warningText {
    background: lightpink;
}

#hostlistUpdate {
    font-style: italic;
    font-weight: bold;
    font-size: 10pt;
    color: palevioletred;
}
