#topCardsSelector,
#topCommandersByColorSelector,
#topCardsByMonthSelector {
    float: left;
    margin-right: 15px;
}

.clear {
    clear: both;
}

#topCardsByType,
#topCardsByColor {
    margin-left: 5px;
}

