#buttonWrapper {
    position: fixed;
}

#dataDisplay {
    width: 100%;
}

#cardNames {
    width: 30%;
    height: 25%;
    border: 1px solid #000;
    resize: none;
    margin-right: 15px;
}

#linkDisplay {
    width: 100%;
}

#statusDisplay {
    width: 60%;
    float: right;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 0.5rem;
    text-align: left;
}
